.contentColor {
  background: linear-gradient(90deg, #96BF01 0%, #0E5A2B 102.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.boxShadow {
  box-shadow: 0px 24px 28px -8px #334ea914;
  background: linear-gradient(#F4F4F4, #F4F4F4) padding-box,
    linear-gradient(to right, #96BF01, #0E5A2B) border-box;
  border: 3px solid transparent;
}
.bgImag{
  background-image: url('/Background1.jpg');
  /* background-size: 100% 100%; */
  background-size: contain;
  background-repeat: no-repeat;
}